@font-face {
    font-family: "icons";
    src: url("./icons.eot?d88724534d76f3508bdeb0fc0ef95528?#iefix") format("embedded-opentype"),
url("./icons.woff2?d88724534d76f3508bdeb0fc0ef95528") format("woff2"),
url("./icons.woff?d88724534d76f3508bdeb0fc0ef95528") format("woff"),
url("./icons.ttf?d88724534d76f3508bdeb0fc0ef95528") format("truetype"),
url("./icons.svg?d88724534d76f3508bdeb0fc0ef95528#icons") format("svg");
}

i {
    line-height: 1;
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-battery-empty:before {
    content: "\f101";
}
.icon-check:before {
    content: "\f102";
}
.icon-glass-drink:before {
    content: "\f103";
}
.icon-link:before {
    content: "\f104";
}
.icon-menu:before {
    content: "\f105";
}
.icon-to-down:before {
    content: "\f106";
}
.icon-to-up:before {
    content: "\f107";
}
