@font-face {
    font-family: "icons";
    src: url("./icons.eot?79c5bce2e83e7fce5e42b0966be52ed7?#iefix") format("embedded-opentype"),
url("./icons.woff2?79c5bce2e83e7fce5e42b0966be52ed7") format("woff2"),
url("./icons.woff?79c5bce2e83e7fce5e42b0966be52ed7") format("woff"),
url("./icons.ttf?79c5bce2e83e7fce5e42b0966be52ed7") format("truetype"),
url("./icons.svg?79c5bce2e83e7fce5e42b0966be52ed7#icons") format("svg");
}

i {
    line-height: 1;
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-app-window:before {
    content: "\f101";
}
.icon-battery-empty:before {
    content: "\f102";
}
.icon-battery-full:before {
    content: "\f103";
}
.icon-battery-good:before {
    content: "\f104";
}
.icon-battery-low:before {
    content: "\f105";
}
.icon-battery-medium:before {
    content: "\f106";
}
.icon-battery-very-low:before {
    content: "\f107";
}
.icon-bookmark:before {
    content: "\f108";
}
.icon-check:before {
    content: "\f109";
}
.icon-cofee:before {
    content: "\f10a";
}
.icon-copy:before {
    content: "\f10b";
}
.icon-cut:before {
    content: "\f10c";
}
.icon-ellipsis-horizontal:before {
    content: "\f10d";
}
.icon-ellipsis-vertical:before {
    content: "\f10e";
}
.icon-file:before {
    content: "\f10f";
}
.icon-flask:before {
    content: "\f110";
}
.icon-glass-drink:before {
    content: "\f111";
}
.icon-link:before {
    content: "\f112";
}
.icon-list:before {
    content: "\f113";
}
.icon-menu:before {
    content: "\f114";
}
.icon-screen-desktop:before {
    content: "\f115";
}
.icon-screen-mobile:before {
    content: "\f116";
}
.icon-screen-tablet:before {
    content: "\f117";
}
.icon-sign:before {
    content: "\f118";
}
.icon-to-down:before {
    content: "\f119";
}
.icon-to-up:before {
    content: "\f11a";
}
